<!DOCTYPE html>
<html>
<%- include("./header.ejs") %>
<body>
</body>
<%- include("./footer.ejs") %>
<script src="http://api-web.emokit.com:803/front/emokitsdk/jssdk/faceemo.js"></script>
<script>

    const appid = '101352'
    const key = '9628e2a91b1daec31394ff73f06ed7e8'
    const platid = '1'
    const uid = '18193816226'
    picturedraw(function (res) {
        console.log(res)
    },appid,key,platid,uid)


</script>
</html>
