<header>
    <ul class="layui-nav layui-bg-cyan" style="overflow: hidden">
        <div style="float: right">
            <li class="layui-nav-item"><%= user %></li>
            <li class="layui-nav-item"><a href="main">总览</a></li>
            <li class="layui-nav-item"><a href="per">结算</a></li>
            <li class="layui-nav-item"><a href="addBill">新增</a></li>
            <li class="layui-nav-item"><a href="signout">退出</a></li>
        </div>
    </ul>
</header>